<html>

<head>
    <title>SimuCode</title>
    <link rel="shortcut icon" type="image/jpg" href="../static/assets/icon_idea.png"/>
    <link rel="stylesheet" type="text/css" href="../static/lib/codemirror.css">
    <script type="text/javascript" src="../static/lib/codemirror.js"></script>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
    
    <script src="../static/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    
    <!-- addons -->
    <script src="../static/addon/selection/active-line.js"></script>
    <script src="../static/addon/edit/matchbrackets.js"></script>
    <script src="../static/addon/hint/show-hint.js"></script>
    <script src="../static/addon/fold/indent-fold.js"></script>
    <script src="../static/addon/edit/matchbrackets.js"></script>
    
    <!-- modes -->
    <script src="../static/mode/clike/clike.js"></script>
    <script src="../static/mode/python/python.js"></script>

    <!-- themes -->
    <link rel="stylesheet" href="../static/theme/nictophilia.css">
    <link rel="stylesheet" href="../static/theme/blackboard.css">
    <link rel="stylesheet" href="../static/theme/isotope.css">
    <link rel="stylesheet" href="../static/theme/moxer.css">
    <link rel="stylesheet" href="../static/theme/night.css">
    <link rel="stylesheet" href="../static/theme/panda-syntax.css">
    <link rel="stylesheet" href="../static/theme/shadowfox.css">
    <link rel="stylesheet" href="../static/theme/solarized.css">
    <link rel="stylesheet" href="../static/theme/the-matrix.css">
    <link rel="stylesheet" href="../static/theme/vibrant-ink.css">
</head>

<body>
    <div id="dec">SIMUCODE</div>
    <div id="code-side">
        <form id="form-code" action="." method="post" name="code-post" data-name="Code form" class="form">
            <div id="code-head">
                <div id="btn-download" onclick="saveFile()">
                    <svg width="22px" height="16px" viewBox="0 0 22 16">
                      <path d="M2,10 L6,13 L12.8760559,4.5959317 C14.1180021,3.0779974 16.2457925,2.62289624 18,3.5 L18,3.5 C19.8385982,4.4192991 21,6.29848669 21,8.35410197 L21,10 C21,12.7614237 18.7614237,15 16,15 L1,15" id="check"></path>
                      <polyline points="4.5 8.5 8 11 11.5 8.5" class="svg-out"></polyline>
                      <path d="M8,1 L8,11" class="svg-out"></path>
                    </svg>
                </div>
                <div class="dropdown">
                    <select name="lang" class="dropbtn" id="lang" onchange="langchange()">
                        <option selected hidden value="">Language</option>
                        <option value="python">Python</option>
                        <option value="text/x-csrc">C</option>
                        <option value="text/x-c++src">C++</option>
                    </select>
                </div>
                <div class="dropdown">
                    <select name="theme" class="dropbtn" onchange="selectTheme()" id="theme">
                        <option>nictophilia</option>
                        <option>blackboard</option>
                        <option>isotope</option>
                        <option>moxer</option>
                        <option>night</option>
                        <option>panda-syntax</option>
                        <option>shadowfox</option>
                        <option>solarized</option>
                        <option>the-matrix</option>
                        <option>vibrant-ink</option>
                    </select>
                </div>
            </div>
            <textarea id="code" name="code" value="">{{code}}</textarea>
            <div id="op-dec" contenteditable="false"><strong>Output:</strong></div>
            <div contenteditable="false" id="code-output" name="output" class="outputr"></div>
            <button id="code-run" type="submit "><span>Run</span></button>
        </form>
    </div>
</body>

<script>
    let saveFile = () => {
        let data = editor.getValue();

        const textToBLOB = new Blob([data], { type: 'text/plain' });
        const sFileName = 'Code.txt';

        let newLink = document.createElement("a");
        newLink.download = sFileName;

        if (window.webkitURL != null) {
            newLink.href = window.webkitURL.createObjectURL(textToBLOB);
        }
        else {
            newLink.href = window.URL.createObjectURL(textToBLOB);
            newLink.style.display = "none";
            document.body.appendChild(newLink);
        }

        newLink.click(); 
    }

    $("#btn-download").click(function() {
        $("#btn-download").addClass("downloaded");
        setTimeout(
            function() {
                $("#btn-download").removeClass("downloaded");
            }, 1500);
    });

    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        lineNumbers: true,
        matchBrackets: true,
        activeline: true,
        foldindent: true
    });

    var input = document.getElementById("theme");
    function selectTheme() {
        var theme = input.options[input.selectedIndex].textContent;
        editor.setOption("theme", theme);
        location.hash = "#" + theme;
    }
    var choice = (location.hash && location.hash.slice(1)) ||
                 (document.location.search &&
                  decodeURIComponent(document.location.search.slice(1)));
    if (choice) {
        input.value = choice;
        editor.setOption("theme", choice);
    }
    CodeMirror.on(window, "hashchange", function() {
        var theme = location.hash.slice(1);
        if (theme) { input.value = theme; selectTheme(); }
    });

    var out = document.getElementById("code-output");
    var opd = document.getElementById("op-dec");
    var txa = String.raw`{{output}}`;
    var txe = txa.slice(0,6);
    if(txe.slice(0,2) == "ER"){
        if(txe == "ER#001" || txe == "ER#002"){
            var txv = txa.slice(7);
        }
        else if(txe == "ER#003"){
            var txv = `{{output}}`.slice(7);
        }
        out.style.backgroundColor = "#ff000041";
        out.style.color = "#ff0000";
        out.style.border = "1px solid #ff0000";
        out.style.borderTop = "0px";
        out.style.boxShadow = "0 2.8px 2.2px rgba(255, 0, 0, 0.034), 0 6.7px 5.3px rgba(255, 0, 0, 0.048), 0 12.5px 10px rgba(255, 0, 0, 0.06), 0 22.3px 17.9px rgba(255, 0, 0, 0.072), 0 41.8px 33.4px rgba(255, 0, 0, 0.086), 0 100px 80px rgba(255, 0, 0, 0.12)";
        out.innerHTML += txv;
        opd.style.borderColor = "#ff0000";
        opd.style.color = "#ff0000";
    }
    else if(txa != ""){
        out.style.backgroundColor = "#00ff0041";
        out.style.color = "#00ff00";
        out.style.border = "1px solid #00ff00";
        out.style.borderTop = "0px";
        out.style.boxShadow = "0 2.8px 2.2px rgba(0, 255, 0, 0.034), 0 6.7px 5.3px rgba(0, 255, 0, 0.048), 0 12.5px 10px rgba(0, 255, 0, 0.06), 0 22.3px 17.9px rgba(0, 255, 0, 0.072), 0 41.8px 33.4px rgba(0, 255, 0, 0.086), 0 100px 80px rgba(0, 255, 0, 0.12)";
        out.innerHTML += txa;
        opd.style.borderColor = "#00ff00";
        opd.style.color = "#00ff00";  
    }

    function langchange(){
        var sel = document.getElementById('lang').value;
        editor.setOption('mode',sel);
    }

    if("{{theme}}" != ""){
        document.getElementById('theme').value = "{{theme}}";
        editor.setOption("theme", "{{theme}}");
        editor.setOption("mode","{{lang}}");
    }

    if("{{lang}}" != ""){
        document.getElementById('lang').value = "{{lang}}";
        editor.setOption('mode','{{lang}}');
    }
</script>

</html>
